/* Table.module.css */

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

/* Table rows and data cells */
tbody tr {
    transition: background-color 0.3s ease;
}


td {
    padding: 12px;
}

/* Styling for stock when out of stock */
td:last-child {
    text-align: center;
}
